:root {
    --gradientStart: royalblue;
    --gradientEnd: RebeccaPurple;
}

header {
    text-align: center;
    background-image: linear-gradient(to right, var(--gradientStart) , var(--gradientEnd));
}

header h1 {
    font-size: 50px;
    color: aliceblue;
    font-weight: bold;
}

.search-section {
    margin: 40px;
}

/*The left box */
#Location {
    font-weight: bold;
}

.spacing {
    margin-bottom: 10px;
}

.breakLine {
    border: 1px solid black;
}

.weather-section {
    overflow: hidden;
}

/*The right box */
.info-box-main {
    border-style: solid;
    margin-right: 20px;
    padding: 10px;
}

@media only screen and (max-width: 770px) {
    .info-box-main {
        border-style: solid;
        margin-right: 20px;
        margin-left: 20px;
        padding: 10px;
    }
}

.five-day-forecast {
    margin-right: 20px;
}

@media only screen and (max-width: 770px) {
    .five-day-forecast {
        margin-right: 20px;
        margin-left: 20px;
    }
}

.sub-sub-header {
    font-weight: bold;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    padding: 10px;
    color:white;
    object-fit: cover;
    object-position: center;
}


